# DO NOT DELETE THIS FILE!
strict-ssl=false
# do not commit a change to the line below because it will break the automatic deployment
# if you need to use the official https://registry.npmjs.org/ you may make the change 
# but please do not commit/push this file with this change!

# DO NOT CHANGE THIS LINE (except if you know what you're doing)!
registry=http://dev-entrep-1.main.oecd.org:8082/repository/npm-registry-group/
