@import "../../styles/helpers";

.projections-by-country {
  &__select-block {
    background: color('background');
    padding: 15px;

    .dropdown-menu {
      z-index: 9;
    }
  }
  
  &__select {
    border-radius: 0px;
    font-weight: 700;
    font-size: 15px;
    line-height: 40px;
    background: color('background', 'highlight');
    &:hover {
      border: 1px solid black;
    }
  }

  &__custom-opened-select {
    margin-top: 5px;
    display: none;
  }

  &__custom-opened-select .dropdown-item {
    padding: 0.25rem 0.75rem;
  }

  &__custom-opened-select-list {
    list-style: none;
    min-width: 100%;
    padding: 0px;
  }

  &__custom-opened-select-list li a {
    cursor: pointer;
  }

  @media (min-width: 992px) {
    &__custom-opened-select {
      display: block;
    }
    &__select-block .bootstrap-select {
      display: none;
    }
  }

  &__country-title {
    margin: 10px 0px;
  }

  &__graph-block {
    background: color('background');
    padding: 15px;
  }
  
  &__btn {
    margin-top: 15px;
  }

  &__btn2 {
    margin-top: 15px;
    margin-left: 15px
  }
}
