// site-navigation.scss
@import "../../../styles/helpers";

.main-nav {
	display: none;
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	@include font-size(14px);
	font-family: Bernini, "Bernini Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	@include respond-to('medium') {
		display: block;
		float: left;
		margin: 0;
	}

	&.is-open {
		display: block;
	}

	&__container {
		clear: both;
		color: color('oecd', 'invert');
		background-color: color('oecd', 'dark');
	}

	&__header {
		display: flex;
		align-items: center;

		@include respond-to('medium') {
			display: none;
		}
	}

	&__toggle {
		float: left;
		width: 45px;
		height: 52px;
		background: none;
		border: none;

		@include respond-to('large') {
			display: none;
		}
	}

	&__page-name {
		float: left;
		@include font-size(20px);
		line-height: 1;
		margin-top: em(5px, 20px);

		@include respond-to('medium') {
			display: none;
		}
	}

	&__lang {
		display: none;
		float: right;
		margin-left: auto;
		@include font-size(14px);

		@include respond-to('medium') {
			display: block;
		}

		.main-nav__header & {
			display: block;

			@include respond-to('large') {
				display: none;
			}
		}

		&__item {
			display: inline-block;
			padding: 0;
			text-decoration: none;

			@include respond-to('medium') {
				display: none;
				padding: 8px 0;
			}

			@include respond-to('large') {
				display: inline-block;
				padding: 8px 0;
			}

			& + & {
				margin-left: 15px;
			}

			&--tablet-only {
				display: none;
				margin-left: 10px !important;

				@include respond-to('medium') {
					display: inline-block;
				}

				@include respond-to('large') {
					display: none;
				}
			}

			&::before {
				content: '\203A';
				margin-right: .33em;
				@include font-size(20px);
				color: color('oecd', 'lighter');
			}
		}
	}

	&__item {
		line-height: 40px;

		@include respond-to('medium') {
			float: left;
		}

		& + & {
			border-top: 1px solid color('oecd', 'light');

			@include respond-to('medium') {
				border-top: none;
			}
		}

		&.is-current,
		&.is-active {
			background: color('oecd', 'light');

			@include respond-to('medium') {
				color: color('oecd');
				background: color('oecd', 'invert');
			}
		}
	}

	&__link {
		display: block;
		padding: 0 15px;
		text-decoration: none;

		@include respond-to('medium') {
			min-width: 150px;
			@include font-size(19px);
			text-align: center;
		}

		.main-nav__item.is-current & {
			font-weight: 700;

			@include respond-to('medium') {
				font-weight: 400;
			}
		}

		&--toggle {
			&::after {
				float: right;
				content: '\203A';
				display: inline-block;
				margin-left: .75em;
				@include font-size(20px);
				transform: rotateZ(90deg);
				color: color('oecd', 'lighter');
				@include transition();

				@include respond-to('medium') {
					float: none;
				}

				.main-nav__item.is-current & {
					font-weight: 400;
					color: color('oecd', 'invert');

					@include respond-to('medium') {
						color: color('oecd', 'lighter');
					}
				}
			}
		}
	}

	&__list {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		background: color('oecd', 'dark');

		@include respond-to('medium') {
			position: absolute;
			z-index: 8;
			left: 15px;
			right: 15px;
			padding: 20px;
			color: color('oecd');
			background: color('oecd', 'invert');
			border: 1px solid #ddd;
			border-top: 0;
		}

		&.is-open {
			display: block;
		}

		&__item {
			@include respond-to('medium') {
				float: left;
				padding: 7px 5px;
			}

			.col-3-dropdown & {
				@include respond-to('medium') {
					width: (100% / 3);
				}
			}

			.col-4-dropdown & {
				@include respond-to('medium') {
					width: (100% / 4);
				}
			}

			.col-5-dropdown & {
				@include respond-to('medium') {
					width: (100% / 5)
				}
			}

			.col-6-dropdown & {
				@include respond-to('medium') {
					width: (100% / 6)
				}
			}
		}

		&__link {
			display: none;
			padding: 0 15px;
			@include transition();

			@include respond-to('medium') {
				display: block;
				@include font-size(15px);
				font-weight: 700;
				text-align: center;
				text-decoration: none;
			}

			.main-nav__list__item.is-open &,
			&:hover {
				color: color('oecd', 'invert');
				background-color: color('oecd', 'lighter');
			}
		}

		&__tab {
			@include respond-to('medium') {
				display: none;
			}

			.main-nav__list__item.is-open & {
				display: block;

				@include respond-to('medium') {
					position: absolute;
					left: -1px;
					right: -1px;
					padding: 20px;
					margin-top: 13px;
					background: color('oecd', 'invert');
					border: 1px solid #ddd;
					border-radius: 4px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				}
			}
		}
	}

	&__sublist {
		margin: 0;
		padding: 0;
		list-style: none;

		@include respond-to('medium') {
			float: left;
		}

		.col-3-dropdown & {
			@include respond-to('medium') {
				width: (100% / 3);
			}
		}

		.col-4-dropdown & {
			@include respond-to('medium') {
				width: (100% / 4);
			}
		}

		.col-5-dropdown & {
			@include respond-to('medium') {
				width: (100% / 5)
			}
		}


		&__item {
			line-height: 30px;
			border-top: 1px solid color('oecd', 'light');

			@include respond-to('medium') {
				border-top: none;
			}
		}

		&__link {
			position: relative;
			display: block;
			padding: 0 30px;
			text-decoration: none;
			@include transition();

			@include respond-to('medium') {
				padding: 7px 5px;
				line-height: 1;
				@include font-size(11px);
				color: #666;
			}

			&:hover {
				text-decoration: underline;

				@include respond-to('medium') {
					color: color('oecd', 'dark');
					background: #ededed;
				}
			}

			&::before {
				content: '\203A';
				display: none;
				margin-right: .2em;
				@include font-size(20px);
				line-height: 14px;
				vertical-align: text-bottom;

				@include respond-to('medium') {
					display: inline-block;
				}
			}
		}
	}

	&__search-bar {
		display: none;
		border-top: 1px solid #578FB8;
		padding: 15px;

		@include respond-to('medium') {
			display: none !important;
		}

		&__toggle {
			top: -80px;
			right: 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-height: 36px;
			border: 0;
			border-radius: 3px;
			padding: 0 12px;
			background-color: #11629A;
			color: color('background');

			@include respond-to('medium') {
				display: none !important;
			}

			&__img {
				@include size(20px);
				background: url('../../../images/minimizer--white.svg');

				.main-nav__search-bar__toggle.open & {
					background: url('../../../images/close--white.svg');
				}
			}
		}

		&__content {
			display: flex;
			justify-content: center;
		}
	}
}
