// card.scss
@import "../../styles/helpers";

.card {
	margin-top: 35px;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		margin-right: 30px;
		border-radius: 50%;
		@include size(40px);
		background: color('gray');
		@include transition();

		@include respond-to('large') {
			@include size(50px);
		}

		.card:hover & {
			transform: scale(1.2);
		}

		img {
			position: relative;
			top: -10px;
			left: 10px;
			@include size(30px);

			@include respond-to('large') {
				@include size(40px);
			}
		}
	}

	&__text {
		float: left;
		width: calc(100% - 80px);

		@include font-size(16px);
		font-weight: 700;
		line-height: em(20px, 16px);
		text-transform: uppercase;
		text-align: left;

		@include respond-to('large') {
			padding: 5px 12% 0 0;
		}
	}
}

@each $color-name, $color-variants in $colors {
	.highlight--color-#{$color-name} {
		color: color($color-name, 'invert');
		background: color($color-name);

		@each $variant-name, $color-variant in $color-variants {
			&-#{$variant-name} {
				color: color($color-name, 'invert');
				background: color($color-name, $variant-name);
			}
		}
	}
}
