// _reset.scss
@import "~normalize.css/normalize.css";

* {
	box-sizing: border-box;

	&::before,
	&::after {
		box-sizing: border-box;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	line-height: 1.15;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
}

a {
	color: currentColor;
	&:hover {
		color: currentColor;
		text-decoration: none;
	}
}
