@import "../../styles/helpers";

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 20; /* pop-in divs have z-index of 30 and should cover the menu */
    font-size: larger;
    font-family: Oswald, sans-serif;
    width: 100%;
}
  
/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100% !important;
    box-shadow: 0px 8px 3px 3px rgba(51,51,51,0.2);
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 30px;
}

.sticky .active {
    color: #ffc20e !important;
}
/* This is necessary according to Bootstrap scrollspy documentation */
// body {
//     position: relative !important;
// }

